* {box-sizing: border-box;}
.topnav {
  overflow: hidden;
  background-color:black
}
.topnav .search-container {
  float: right;
}
.topnav input[type=text] {
  padding: 6px;
  margin-bottom: 5px;
  font-size: 17px;
  border: none;
}

.topnav .search-container button {
  float: right;
  padding: 6px 10px;
  background:rgb(75, 122, 32);
  font-size: 17px;
  border: none;
  cursor: pointer;
}
.topnav .search-container button:hover {
  background: #ccc;
}
.loader {
    text-align: center;
    margin-top: 50px;
}





  