<div class="background-test">
    <button type="button" class="btn btn-outline-warning btn-sm" (click)="goDashBoard()">Back to
      DashBoard</button>
  </div>

<div class="card">
    <h5 class="card-header"> Search Results for "{{serachVal}}" :</h5>
    <h5 class="card-header" *ngIf="searchResults.length == 0">No Results found!</h5>
    <div *ngIf="isLoadingIndicator" class="loader"></div>
    <div *ngIf="hasError"class="card-header">An unexpected error happend. Please try after sometime!</div>
    <div class="row"  *ngIf="searchResults.length > 0">
        <div class="thumbs col-lg-12">
            <div class="flex-container" >
                <carousel>
                    <div class="carousel-cell" *ngFor="let data of searchResults">
                        <img [routerLink]="['/show-details', data?.id]"  [src]="data?.image ? data?.image?.medium : 'assets/no-poster.jpg'"  class="rounded-circle" style = "height: 85%;" />
                    <div class="carousel-caption"  style = "top: 150px;bottom: auto; color: black;" [routerLink]="['/show-details', data?.id]">
                        Rating : {{data?.rating?.average}}
                    </div>
                    </div>
                </carousel>
            </div>
        </div>
    </div>
</div>
   