.card{
    background-color:black;
    width: 100%;
}
.card-header {
    margin-bottom: 10px;
    color: white;
    
}
.background-test{
margin: 15px;
}
.carousel-caption{
    top: 150px;
    bottom: auto;
    color:white;
}
