
.error{
  color: white;
  margin: 10px;
  font-size: 25px;
}
.row{
  margin-bottom: 20px;
}
p.image > img {
  margin-top: 20px;
  max-width: 400px;
  width: 100%;
  padding-right: 20px;
}

.loader {
  text-align: center;
}
  